@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

.user-login {
  background-image: url("https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 100vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 80px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 15px 30px 5px,
    rgba(255, 255, 255, 0.2) 0px 10px 10px 5px;
}

.add-border {
  margin-top: 20px;
  border: 1px solid black;
  padding: 50px;
  width: 50%;
}

.view-border {
  margin-top: 20px;
  border: 1px solid black;
  padding: 50px;
  width: 40%;
}
